<div  style='text-align:center; color:white ; background-color: #52B6AC'class="jumbotron" sty>
  <h1>#startupftw</h1>
</div>
<div  style='text-align:center; color:white ; background-color: #52B6AC'>
<div  id='loginButton'>
	<i class="fa fa-twitter"></i> Sign In with Twitter
</div>
</div>
<div id='footer'>
	<label>Know a product or have a startup?</label>
	<div  id='submitProduct'>SUBMIT</div>
</div>
<style>
#loginButton{
	margin: auto;
	color : white;
	text-align:center;
	width:60%;
	background-color : #52B6AC;
	border-style: solid;
    border-width: 1px;
    border-color: white;
    font-size: 3vmax;
	height: 50px;
  	line-height: 40px;

}

h5{
display:inline-block;	
}
#submitProduct{

	display:inline-block;
	margin: auto;
	color : white;
	text-align:center;
	width:20%;
	background-color : #52B6AC;
	border-style: solid;
    border-width: 1px;
    border-color: white;
    font-size: 3vmax;
	height: 40px;
  	line-height: 30px;
}

#footer {
	margin:auto;
	color : white;
	text-align:center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
</style>